* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: futura;
  background: white;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition:  0.5s ease-in-out; 
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 50px; 
}
h1 a {
  text-decoration: none; /* Remove underline from the link within the h1 */
}

.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  width: 100%;
  margin-top: 20px;
}
.randomRecipe,
.favoriteRecipe{
  text-decoration: none;
  padding: 10px;
  background-color: #3B5980;
  color:#FAF5E7;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: futura;
  font-weight: bold;
  margin-right: 20px;
}
.search-container {
  margin-top: 30px;
}
.input-search {
  padding: 10px;
  border-radius: 10px;
}
.search-button {
  text-decoration: none;
  padding: 5px;
  background-color: #3B5980;
  color: #FAF5E7;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: futura;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 20px;
}
/* Add padding to the like button and set the background color */
.like-button {
  padding: 10px;
  background-color: #3B5980;
  color: #FAF5E7;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Define the background color for not liked and liked buttons */
.like-button.not-liked {
  background-color: #3B5980; /* Default background color when not liked */
  color: #FAF5E7;
}

.like-button.liked {
  background-color: #FAF5E7; /* Background color when liked */
  color: #3B5980;

}

/* Ensure the recipe cards are displayed on one line */
.recipe-list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap; /* Enable wrapping if needed */
  justify-content: flex-start; /* Start from the left */
  gap: 20px; /* Add some space between recipe cards */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.recipe-card {
  flex: 0 0 calc(33.3333% - 20px); /* Adjust the width to fit 3 cards in a row */
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.recipe-card p.recipe-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.recipe-card h2 {
  display: none; /* Hide the title by default */
}

.recipe-card:not(.selected) h2 {
  display: block; /* Display the title when not selected */
}

.recipe-card button {
  margin-top: 10px; /* Add space between title and button */
}

/* For My-Favorirtes */


.favorite-dishes {
  text-align: center;
  padding: 20px;
}

.favorite-dishes h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.fav-dish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fav-dish-card {
  width: 100%; /* Make the card take up the full width */
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  display: flex; /* Display as a flex container */
  flex-direction: row; /* Arrange items horizontally */
  align-items: flex-start; /* Align items to the start (top) of the card */
  justify-content: space-between; /* Add space between left and right cards */
}

.left-fav-dish-card {
  flex: 1; /* Allow left card to grow and take available space */
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; 
  justify-content: flex-start; /* Align items to the start (top) of the card */
}

.right-fav-dish-card {
  font-size: 1.2rem;
  margin-top: 59px;
  flex: 1; /* Allow right card to grow and take available space */
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the start (left) of the card */
  justify-content: flex-start; /* Align items to the start (top) of the card */
}

.left-fav-dish-card h2 {
  font-size: 1.5rem;
  margin-bottom : 20px; /* Reset margin to remove default spacing */
}

.left-fav-dish-card img {
  max-width: 500px; /* Adjust the image width */
  height: auto;
  border-radius: 5px;
  margin: 10px 0; 
}

.left-fav-dish-card button {
  background-color: #3B5980;
  margin-top: 50px;
  padding: 10px;
  color: #FAF5E7;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.left-fav-dish-card button:hover {
  background-color: #FAF5E7;
  color: #3B5980
}
/* For the ingredient search*/

.search-results {
  text-align: center;
  padding: 20px;
}

.search-results h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.recipe-list-from-search {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping to create lines */
  justify-content: flex-start; /* Start from the left */
  gap: 20px; /* Add some space between recipe cards */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

.recipe-card-from.search {
  flex: 0 0 calc(20% - 20px); /* Adjust the width to fit 5 cards in a line */
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.recipe-card-from.search img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.recipe-card-from.search .recipe-title-link {
  font-size: 1.5rem;
  margin: 10px 0;
  display: block; /* Display titles underneath the images */
}

.recipe-card-from.search h2 {
  display: none; /* Hide the title by default */
}

.recipe-card-from.search:not(.selected) h2 {
  display: block; /* Display the title when not selected */
}

.recipe-card-from.search button {
  margin-top: 10px; /* Add space between title and button */
}

.InsClickedRecipe {
  margin-top: 30px;
  
}
.recipe-steps {
  font-size: 1.3rem;
}